.logo{
  margin-top: 0;
  font-size: 35px;
  font-weight: Bold;
  margin-bottom: 15px;
  text-align: center;
  color: rgb(101, 101, 236);
}
.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.formWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
.inputGroup{
  display: flex;
  flex-direction: column;

}
.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;

}
.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;

  border: none;
  margin-bottom: 13px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}
.btn{
  border:none;
  padding: 10px;
  border-radius: 5px;
  font-size:16px;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
}
.joinBtn{
  background: rgb(69, 69, 177);
  font-size: 16px;
  font-weight: bold;
  color: #eee;
}
.joinBtn:hover{
  background: rgb(107, 107, 236);
}
.createInfo{
  margin: 0 auto;
  margin-top:10px;

}
.createNewBtn{
  color: rgb(69, 69, 177);
  text-decoration: none;
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;

}
.createNewBtn:hover{
  color:rgb(107, 107, 236);
}
.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;

}
.aside{
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;

}
.asideInner{
  flex: 1;
}
.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName{
  margin-top: 10px;
}
.editorLogo{
  margin-top: 0;
  font-size: 35px;
  font-weight: Bold;
  margin-bottom: 15px;
  text-align: center;
  color: rgb(101, 101, 236);
  border-bottom: 1px solid;
}
.leaveBtn{
  background: rgb(69, 69, 177);
  font-size: 16px;
  font-weight: bold;
  color: #eee;

}
.copyBtn{
  background: rgb(69, 69, 177);
  font-size: 16px;
  font-weight: bold;
  color: #eee;
  margin-bottom: 10px;
}
.leaveBtn:hover{
  background: rgb(107, 107, 236);
}
.copyBtn:hover{
    background: rgb(107, 107, 236);
}
.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;

}